
#rel-prod-title {
  width: 100%;
  height: 5%;
}

#rel-prod-list {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: column wrap;
  flex-shrink: 1;
  justify-content: space-between;
}


#rel-prod-carousel {
  width: 100%;
  height: 95%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.product-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.prod-name {
  width: 100%;
  font-size: 1rem;
  text-align: left;
}
