
#rel-prod-title {
  width: 100%;
  height: 3%;
  font-weight: bold;
}

#outFit-prod-title {
  width: 100%;
  height: 3%;
  font-weight: bold;
}

#rel-prod-list {
  width: 100%;
  height: 48%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

#outFit-prod-list {
  width: 100%;
  height: 47%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.rel-prod-carousel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

}

.outFit-button {
  height: 96%;
  width: 30%;
  margin-left: 1rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  text-align: center;

  border:0.5px solid rgb(0, 0, 0);
}

.outFit-prod-carousel {
  height: 97%;
  width: 70%;
  display: flex;
  flex-flow: row;
}

.all-cards {
  height: 92%;
  width: 45%;
  margin-left: 0.7rem;
  margin-right: 0.75rem;
  padding: 0.5rem;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.outFit-card {
  height: 100%;
  width: 95%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border: 0.5px solid rgb(233, 231, 225);

}

.product-card {
  height: 97%;
  width: 95%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border: 2px solid rgb(233, 231, 225);

}
/* border: 1.7px solid rgb(219, 218, 216); */

.card-button {
  height: auto;
  margin-left: auto;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(253, 252, 251);
}

.prod-image {
  width: 60%;
  height: 70%;
  padding-left: 10%;
}

.prod-category {
  width: 60%;
  height: 65%;
  padding-left: 10%;
}

.prod-name {
  width: 60%;
  height: 65%;
  padding-left: 10%;
}

.prod-price {
  width: 60%;
  height: 65%;
  padding-left: 10%;
}

.prod-reviews {
  width: auto;
  height: auto;
  padding-left: 10%;
}


.product-modal {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  position: fixed;
  top: 24%;
  left: 37%;
  height: fit-content;
  width: fit-content;
  background-color: rgb(255, 254, 253);
  border: 2.5px solid rgb(218, 205, 181);
  text-align: left;
  overflow: auto;
}


.table-modal {
  text-align: center;
}

.close-modal {
  text-align: right;
  margin-left: auto;
  margin-right: 2%;
  background-color: rgba(242, 155, 151, 0.91);
  border:0.5px solid rgb(0, 0, 0);
}