/* ------------------------------------ OVERVIEW ---------------------------------------------- */

/* ------------------------------------ NAVBAR / SEARCH ---------------------------------------- */

#overview-search-main {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  background-color: #525252;
  color: white;
}

#overview-search-logo {
  display: flex;
  align-items: center;
  padding: 1rem;
}

#overview-search-searchbar {
  height: 100%;
  display: flex;
  gap: 1rem;
  justify-content: right;
  align-items: center;
  margin-right: 2rem;
}

#overview-search-input {
  width: 50%;
  background-color: #525252;
  text-align: center;
  border-bottom: 1px solid white;
}

/* ------------------------------------ ANNOUNCEMENTS------------------------------------------- */

.overview-announcement {
  width: 100%;
  height: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.overview-announcement-message {
  font-style: italic;
  margin-right: 0.25rem;
}

.overview-announcement-offer {
  font-weight: bold;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.overview-announcement-product {
  margin-left: 0.25rem;
  text-decoration: underline;
}

/* ------------------------------------ IMAGE GALLERY ------------------------------------------ */

#overview-gallery-main {
  width: 65%;
  height: 100%;
  position: relative;
}

#overview-gallery-img {
  height: 100%;
  width: 100%;
}

#overview-gallery-styles {
  position: absolute;
  top: 0;
  left: 2%;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.overview-gallery-style {
  width: 100%;
  height: calc(20% - 10px);
  margin-top: 10px;
  border: 2px solid #525252;
}

.vert-btn {
  width: 50%;
  height: calc(10% - 10px);
  margin-left: 25%;
  margin-top: 50%;
  margin-bottom: 50%;
  border-radius: 50%;
  background: none;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.gallery-invisible {
  background-color: none;
  background: none;
  border: none;
  cursor: default;
}

.overview-gallery-selected {
  border: 2px solid gold;
}

.overview-gallery-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.overview-gallery-btn {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 45%;
  cursor: pointer;
}

.left-btn {
  left: 15%;
  padding: calc(0.5rem + 2px);
}

.left-btn:hover {
  border: 2px solid #525252;
  padding: 0.5rem;
}

.right-btn {
  right: 5%;
  padding: calc(0.5rem + 2px);
}

.right-btn:hover {
  border: 2px solid #525252;
  padding: 0.5rem;
}

/* ------------------------------------ PRODUCT INFO ------------------------------------------- */

#overview-productinfo-main {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.overview-title-container {
  height: 20%;
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  gap: 1rem;
}

.overview-product-stars {
  width: calc(100% - 1rem);
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  font-size: 1rem;
  padding-left: 1rem;
  gap: 1.5rem;
}

.overview-stars-container {
  width: 7rem;
  height: 1.5rem;
}

.overview-category {
  font-size: 1.25rem;
  width: auto;
}

.overview-product-title {
  width: auto;
  font-weight: bold;
  font-size: 2.75rem;
}

.overview-product-price {
  font-size: 0.75rem;
  width: auto;
}

.overview-stars-left {
  width: 15%;
}

b {
  font-weight: bold;
}

/* ------------------------------------ STYLES -------------------------------------------------*/

.overview-styles-container {
  height: 40%;
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.overview-style-title {
  height: auto;
}

.overview-styles-images {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.overview-styles-image-container {
  border-radius: 50%;
  width: calc(20%);
  aspect-ratio: 1 / 1;
  margin-right: 4%;
}

.overview-styles-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.selected {
  border-radius: 50%;
  border: 2px solid gold;
}

/* ------------------------------------ ADD TO CART -------------------------------------------- */

.overview-cart-main {
  width: 100%;
  height: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.overview-size-select {
  width: 55%;
  height: calc(50% - 1rem);
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  margin-left: 1.5rem;
  font-weight: bold;
  background-color: inherit;
  color: inherit;
  border: 1px solid #525252;
}

.overview-quant-select {
  width: 30%;
  height: calc(50% - 1rem);
  background-color: inherit;
  padding-left: 1rem;
  font-weight: bold;
  color: inherit;
  border: 1px solid #525252;
  margin-left: 1.5rem;
}

.overview-add-button {
  border: 1px solid #525252;
  color: inherit;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  width: 55%;
  height: calc(50% - 1rem);
  margin-left: 1.5rem;
  padding-left: 1rem;
  align-items: center;
  font-weight: bold;
  padding-right: 1rem;
}
