/* ------------------------------------ NAVBAR / SEARCH ---------------------------------------- */

#overview-search-main {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: #525252;
  color: white;
}

#overview-search-logo {
  display: flex;
  align-items: center;
  padding: 1rem;
}

#overview-search-searchbar {
  height: 100%;
  display: flex;
  gap: 1rem;
  justify-content: right;
  align-items: center;
  margin-right: 2rem;
}

#overview-search-input {
  width: 50%;
  background-color: #525252;
  text-align: center;
  border-bottom: 1px solid white;
}

/* ------------------------------------ ANNOUNCEMENTS------------------------------------------- */

.overview-announcement {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-size: 0.65rem;
}

.overview-announcement-message {
  font-style: italic;
  margin-right: 0.25rem;
}

.overview-announcement-offer {
  font-weight: bold;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.overview-announcement-product {
  margin-left: 0.25rem;
  text-decoration: underline;
}

/* ------------------------------------ IMAGE GALLERY ------------------------------------------ */

#overview-gallery-main {
  width: 65%;
  height: 100%;
  position: relative;
}

#overview-gallery-img {
  width: 100%;
  height: 100%;
}

#overview-gallery-styles {
  position: absolute;
  top: 0;
  left: 2%;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.overview-gallery-style {
  width: 100%;
  flex: 1;
  margin-top: 10px;
  border: 2px solid #525252;
}

.overview-gallery-selected {
  border: 2px solid gold;
}

.overview-gallery-btn {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 45%;
}

.left-btn {
  left: 15%;
  padding: calc(0.5rem + 2px);
}

.left-btn:hover {
  border: 2px solid #525252;
  padding: 0.5rem;
}

.right-btn {
  right: 5%;
  padding: calc(0.5rem + 2px);
}

.right-btn:hover {
  border: 2px solid #525252;
  padding: 0.5rem;
}

/* ------------------------------------ PRODUCT INFO ------------------------------------------- */

#overview-productinfo-main {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.overview-stars-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: 0.5rem;
}

.overview-product-title {
  font-weight: bold;
  font-size: 1.6rem;
}

.overview-product-price {
  font-size: 0.75rem;
}

.overview-stars-left {
  width: 15%;
}

b {
  font-weight: bold;
}

/* ------------------------------------ STYLES -------------------------------------------------*/

.overview-styles-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.overview-styles-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.overview-styles-image {
  object-fit: cover;
  border-radius: 50%;
  width: calc(20%);
  aspect-ratio: 1 / 1;
  margin-right: 4%;
}

.selected {
  border: 2px solid gold;
  width: calc(20% - 4px);
}
