
.quanda-header {
  margin: .6rem;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.1rem;
}

/* SEARCH */
.question-search {
  width: 100%;
  border-color: black;
  border-style: solid;
  border-width: .1rem;
  padding: .5rem;
  margin: .5rem;
}

/* QUESTION LIST */
.questionlist{
  height: 20rem;
  width: 100%;
  overflow: auto;
  margin-bottom: 1rem;
}

.list-bottom-buttons{
  padding: 1rem;
  margin-right: 1rem;
  background-color: white;
  font-weight: 600;
  border: 2px solid black;
  margin-bottom: 2rem;
  cursor: pointer;
}

/* QUESTIONS */

#question{
  margin: 1rem;
}

.main-question {
  display: inline;
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
}
.question-interactions{
  font-weight: normal;
  font-size: .8rem;
  float: right;
}

.inner-link {
  margin-left: .3rem;
  margin-right: .3rem;
  text-decoration: underline;
  cursor: pointer;
}

/* ANSWERS */
#answer{
  padding-left: 3rem;
}

.answer-footer{
  font-weight: normal;
  font-size: .8rem;
}

.answer-a{
  font-weight: 600;
  font-size: 1.2rem;
}

.answer-body {
  padding: .7rem;
}

.photo-box {
  display: inline-block;
}

.answer-photo {
  padding: 1rem;
  width: 7rem;
}

.answer-button {
  margin-top: 1rem;
  padding: .3rem;
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
  background-color: white;
  padding-bottom: 1rem;
}